main {
    padding: 0px;
}

.headerContainer {
    display: grid;
    width: 100%;
    background-image:url("/media/site_components/banner/background.png");
}

.blogHeader {
    justify-self:right;
    font-size: 5em;
    margin: 0.4em;
}

#page {
    max-width: unset;
    margin-left: unset;
    margin-right: unset;
}

#recently {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

.search {
    position: sticky;
    top: 45px;
    z-index: 4000;
    width: 15%;
    float: right;
    translate: -15px 15px;
    text-align: left;

    background-color: var(--nav-button-selected-background);
    padding: 1%;
    color: var(--nav-button-selected-text-color);
}

#searchname {
    width: 70%;
    padding: 4% 10% 4% 10%;
    margin-bottom: 10px;
    border: 1px solid  var(--nav-button-background) !important;
    color: var(--nav-button-selected-text-color);
    border-radius: 25px;
}

input[type="checkbox" i] {
    background-color: var(--nav-button-selected-background);
    accent-color: var(--nav-button-background);
}

input[type="checkbox" i]:hover {
    background-color: var(--nav-button-background);
    accent-color: var(--nav-button-selected-background);
}