/*======================================
    Konstante
========================================*/

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:top}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
a, a:link, a:visited { color: inherit; text-decoration: inherit; }

:root {
    --normal-text-font: 'Rajdhani';
    --header-text-font: 'Limelight';
	--fancy-link-font: 'Verlag';

    --header-text-color: #EEDDA8;
	--fancy-link-text-color: #7c04bd;
	--link-text-color: #e88129;

    --background-main-color: #100021;
    --background-main-lighter: #AA2CEB;
	--background-navigation: #100021;
	--background-blog: #EEDDA8;

    --normal-text-color: #EEDDA8;
	--header-text-shadow: #4A0000;
	--blog-text-color: #4A0000;


	--nav-button-background:#4A0000;
	--nav-button-text-color:#EEDDA8;
	
	--nav-button-selected-background:#EEDDA8;
	--nav-button-selected-text-color:#4A0000;
}

h1 {
	font-size: 190%;
	margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	font-family: var(--header-text-font)
}

h3 {
	font-size: 100%;
	margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	font-family: var(--header-text-font)
}

p {
	text-align: left;
}

input[type="radio" i] {
	appearance: none;
    width: 20px;
    height: 20px;
    border: 3px solid #ffffff;
    border-radius: 100%;
    outline: none;
    box-shadow: 0 0 5px #999;
    transition: box-shadow 0.3s ease;
}

input[type='radio']:before {
	content: '';
	display: block;
	width: 0%;
	height: 0%;
	margin: 50% auto;
	border-radius: 50%;
}
  
input[type='radio']:checked:before {
	background: #ffffff;
	width: 60%;
	height: 60%;
	margin: 20% auto;
	transition: 0.3s ease;
}

h1, h2 {
	color: var(--header-text-color);
	text-shadow: 
	
	0px -1px var(--header-text-shadow),
	-1px 0px var(--header-text-shadow),

	1px 1px var(--header-text-shadow), 
	2px 2px var(--header-text-shadow), 
	3px 2px var(--header-text-shadow),
	4px 3px var(--header-text-shadow),
	5px 4px var(--header-text-shadow),
	6px 4px var(--header-text-shadow),
	7px 5px var(--header-text-shadow),
	8px 6px var(--header-text-shadow),
	9px 6px var(--header-text-shadow),
	10px 7px var(--header-text-shadow);

	stroke: var(--header-text-shadow);
	stroke-width: 10;
}

h1, h2, h3 {
	font-weight: 300;
}

html, body { min-height: 100vh; background-color: var(--background-main-color); }


html {
	color: var(--normal-text-color);
	font-family: var(--normal-text-font), var(--header-text-font);
	font-weight: 500;
	font-style: normal;
	text-align: center;
	font-size: 20px;
}

body {
	padding: 0px;
	margin: 0px;
}

nav{
	position: sticky;
	background-color: var(--background-main-color);
	z-index: 1500;
	padding: 10px 0px;
	top: 0;
	width: 100%;
	height: 1em;
}

#navbar ul{

}

#navbar ul li {
    display: inline-block;
	float: right;
}

#navbar ul li a {
	transition: all .3s ease-in-out;
    padding: 8px 8px;
	
    color: var(--nav-button-text-color);
    background-color: var(--nav-button-background);
	
	font-family: var(--header-text-font);
	font-size: 100%;
	text-transform:uppercase;
}

#navbar ul li a:hover{
    color: var(--nav-button-selected-text-color);
    background-color: var(--nav-button-selected-background);
}

main{
	padding: 16px;
	margin: 0px;
	background-color: var(--background-main-color);
	position: relative;
	z-index: 15;
	height: -webkit-fill-available;
}

#page {
	max-width: 900px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

#aboutMe {
	display:grid;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}


.aboutMeText {
	display: flex;
	justify-content: space-around;
	grid-area: 2 / 1 / 3 / 4;
}

#aboutMe h1 { grid-area: 1 / 1 / 2 / 4; }
.aboutMeText p { width: 45%; }

#aboutMe #writeMe {
	grid-area: 3 / 1 / 4 / 4;

	display: grid;
    grid-template-columns: 37.5% 25% 37.5%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

	align-items: center;
	justify-items: center;
}

#aboutMe img {
	width: 100%;
}

#aboutMe button {
	border-width: 0px;
    border-style: none;
    border-color: none;
    border-image: none;

	padding: 5px;

	width: 80%;

	letter-spacing: 4px;
	font-family: var(--fancy-link-font);
	font-size: 100%;
	font-weight: 600;

	color: var(--nav-button-selected-text-color);
	background-color: var(--nav-button-selected-background);
	transition: all .3s ease-in-out;
}

#aboutMe button:hover {
	color: var(--nav-button-text-color);
	background-color: var(--nav-button-background);
}

#alsoFoundAt{
	display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 0px;
    grid-row-gap: 15px;

	align-items: center;
	justify-items: center;
}

#alsoFoundAt a {
	padding: 5px;
	letter-spacing: 4px;
	font-family: var(--fancy-link-font);
	font-size: 100%;
	font-weight: 600;

	color: var(--nav-button-selected-text-color);
	background-color: var(--nav-button-selected-background);
	transition: all .3s ease-in-out;
}

#alsoFoundAt a:hover {
	color: var(--nav-button-text-color);
	background-color: var(--nav-button-background);
}

#alsoFoundAt #youtube{
	width: 70%;
	grid-area: 1 / 1 / 2 / 3; 
}

#alsoFoundAt span {
	display: inline-block;
	background-color: currentColor;
}

#alsoFoundAt #youtube span {
	height: 1em;
	width: 1.5em;
	
	mask-image: url("/media/site_components/yt_mask.png");
	mask-size: 100% 100%;
	mask-position: bottom center;
	mask-repeat: repeat-x;
}

#alsoFoundAt #twitter{
	width: 70%;
	grid-area: 1 / 3 / 2 / 5; 
}

#alsoFoundAt #twitter span {
	height: 1em;
	width: 1em;
	
	mask-image: url("/media/site_components/twitter_mask.png");
	mask-size: 100% 100%;
	mask-position: bottom center;
	mask-repeat: repeat-x;
}

#alsoFoundAt #twitter span + span {
	height: 1em;
	width: 1em;
	
	mask-image: url("/media/site_components/twitter_bad_mask.png");
	mask-size: 100% 100%;
	mask-position: bottom center;
	mask-repeat: repeat-x;
}

#alsoFoundAt #discord{
	width: 70%;
	grid-area: 2 / 2 / 3 / 4; 
}

#alsoFoundAt #discord span {
	height: 1em;
	width: 1.3em;
	
	mask-image: url("/media/site_components/discord_mask.png");
	mask-size: 100% 100%;
	mask-position: bottom center;
	mask-repeat: repeat-x;
}

/* PARALLAX */

.keyart, .keyart_layer {
	height: 900px;
}

.keyart {
	position: relative;
	z-index: 10;
}

.keyart_layer {
	background-position: bottom center;
	background-size: auto 900px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}

.keyart_layer.parallax {
	position: fixed;
}

#parallax {
	display: block;
}

#nonparallax {
	display: none;
}

#nonparallax {
	background-image: url('/media/site_components/banner/keyart-mobile.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
}
/*masks have to be preloaded for soem reason*/
#keyart-6-load {
	background-size: 0px;
	background-image: url('/media/site_components/banner/layer2.png');
}

#keyart-7-load {
	background-size: 0px 0px;
	background-image: url('/media/site_components/banner/layer1.png');
}

#keyart-0 {
	background-image: url('/media/site_components/banner/layer8.png');
}

#keyart-1 {
	background-image: url('/media/site_components/banner/layer7.png');
}

#keyart-2 {
	background-image: url('/media/site_components/banner/layer6.png');
}

#keyart-name {
	background-image: url('/media/site_components/banner/name.png');
    background-size: auto 20%;
    background-position: center 20%;
    background-repeat: no-repeat;
}

#keyart-3 {
	background-image: url('/media/site_components/banner/layer5.png');
}

#keyart-4 {
	background-image: url('/media/site_components/banner/layer4.png');
}

#keyart-5 {
	background-image: url('/media/site_components/banner/layer3.png');
}

#keyart-6 {
	background-color: var(--background-main-lighter);
	mask-image: url('/media/site_components/banner/layer2.png');
	mask-size: auto 900px;
	mask-position: bottom center;
	mask-repeat: repeat-x;
}

#keyart-7 {
	height: 1800px;
	background-color: var(--background-main-color);
	mask-image: url('/media/site_components/banner/layer1.png');
	mask-size: auto 1800px;
	mask-position: top center;
	mask-repeat: repeat-x;
}

#recently, #aboutMe, #alsoFoundAt {
	padding-top: 3em;
}

.readMore {
	width: 100%;
	text-align: right;
	color: var(--link-text-color);
	font-weight: 600;
}

.readMore:link {
	color: var(--link-text-color);
}

.readMore:visited {
	color: var(--link-text-color);
}
/*
	Blog preview
*/
.blog_previews {
	display: flex;
	flex-wrap: wrap;
	justify-content: center
}

.blog_preview_item {
    display: inline-block;
    flex-basis: 13.3em;
    height: 25.3em;
	margin: 10px;

	overflow: initial;
    white-space: initial;

	transition: all 0.3s ease;
}

.blog_preview_item:hover {
    display: inline-block;
	flex-basis: calc(13.3em + 20px);
	height: calc(25.3em + 20px);
	margin: 0px;
}

.blog_preview {
	background-color: var(--background-blog);
	color: var(--blog-text-color);

	overflow: hidden;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 48% 10% 6% 30% 6%;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.taglink:link {
	color: var(--fancy-link-text-color);
	font-weight: 600;
}

.taglink:visited {
	color: var(--fancy-link-text-color);
	font-weight: 600;
}

.preview_image {
	height: 100%;	
}

.blog_preview a {
	grid-area: 1 / 1 / 2 / 3;
	justify-self: center;
}

.blog_preview a h3 {
	overflow: hidden;
	background: inherit;
	text-align: left;
	align-self: center;
	padding: 10px;
	margin: 0px;
}

.blog_preview a + a {
	grid-area: 2 / 1 / 3 / 3;
	align-self: center;
}

.preview_tagdate {
    display: flex;
    position: relative;
    grid-area: 3 / 1 / 4 / 2;
    align-items: center;
}

.preview_date {
	position: absolute;
	left:0;
	padding-left: 10px;
}

.preview_tags {
	position: absolute;
	right: 0;
	padding-right: 10px;

}

.preview_tags li {
    display: inline-block;
}

.preview_content {
	width: 90%;
	overflow: hidden;
	position: relative;
	line-height: 1.1em;
	text-align: left;
	grid-area: 4 / 1 / 5 / 3;
	background: inherit;
	padding: 0% 5%;
}

.preview_content:before {
	content: '...';
    position: absolute;
    right: 5%;
    width: 1em;
    height: 1em;
    bottom: 0;
    z-index: 1;
}

.preview_content:after {
    content: '';
    position: absolute;
    right: 5%;
    bottom: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: inherit;
}

#frog_video {
	width: calc(90vw - 32px);
}

.fancyborder {
	position: relative;
}

.fancyborder::before {
    display: block;
    content: " ";
    width: 10px;
    height: 100%;
    mask-image: url(/media/site_components/border_test.png);
    mask-size: 100% 100%;
	background-color: inherit;
    position: absolute;
    left: -10px;
    bottom: 0;
}

.fancyborder::after {
    display: block;
    content: " ";
    width: 10px;
    height: 100%;
    mask-image: url(/media/site_components/border_test.png);
    mask-size: 100% 100%;
	background-color: inherit;
    position: absolute;
    right: 0;
    bottom: 0;
	transform: translate(10px) scaleX(-1);
}